*{
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Edu NSW ACT Cursive", cursive;
    
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.heading {
    margin: 10px ; 
    font-size: 36px;
    height: 20%;
}


section {
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    position: relative;
    
}

.div {
    width: 180px;
    height: 180px;
    background-color: black;
    border-radius: 25px;
}

#box1 {
    background-color: #bf1a1a;
    box-shadow: -5px -5px 10px #5a0e0e;
}

#box2 {
    background-color: #628141;
    box-shadow: -5px -5px 10px #334222;
}

#box3 {
    background-color: #4A70A9;
    box-shadow: -5px -5px 10px #22334d;
}

#box4 {
    background-color: #F5C857;
    box-shadow: -5px -5px 10px #947832;
}

#level {
    width: 180px;
    height: 180px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgb(206, 201, 204);
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid rgb(255, 255, 255);
}



button {
   font-size: 20px;
   padding: 10px 20px;
   border: none;
   background-color: grey;
   color: white;
}

.opacity {
    opacity: 0.5;
}


#like-box {
    width: 120px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-heart {
    font-size: 25px;
    color: rgb(206, 42, 42);
}

#score-board {
    position: absolute;
    width: 50%;
    height: fit-content;
    padding: 20px;
    background-color: rgb(182, 208, 245);
    border: 5px solid #7d91b0;
    box-shadow: 0 0 50px #424040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.cancel {
    background-color: transparent;
    color: #495567;
    font-size: 25px;
    position: absolute;
    right: -20px;
    top: -10px
}

h1 {
    font-size: 24px;
}

#again {
    margin: 10px
}




@media (max-width: 700px) {
    body {
        width: 100vw;
    }
}




