*{
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Edu NSW ACT Cursive", cursive;
    
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin: 10px ; 
    font-size: 36px;
    height: 20%;
}


section {
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    position: relative;
    
}

div {
    width: 180px;
    height: 180px;
    background-color: black;
    border-radius: 25px;
}

#box1 {
    background-color: #bf1a1a;
}

#box2 {
    background-color: #628141;
}

#box3 {
    background-color: #4A70A9;
}

#box4 {
    background-color: #F5C857;
}

#level {
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgb(206, 201, 204);
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid rgb(255, 255, 255);
}



button {
   font-size: 20px;
   padding: 10px 20px;
   border: none;
   background-color: grey;
   color: white;
}

.opacity {
    opacity: 0.5;
}
